<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
  http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="false">
  <!--
    web.xml和注解不能同时工作的原因是web.xml中的配置metadata-complete="true"，
    你需要把它设置成metadata-complete="false"
    metadata-complete为true的意思是，告诉Tomcat不要去扫描Servlet注解了
  -->

  <description> Servlet Example. </description>
  <display-name> MyServlet Example </display-name>
  <request-character-encoding>UTF-8</request-character-encoding>

  <!-- servlet 和 servlet-mapping 这两个标签里的 servlet-name 要保持一致 -->
  <servlet>
    <servlet-name>myServlet</servlet-name>
    <servlet-class>MyServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>myServlet</servlet-name>
    <url-pattern>/myservlet</url-pattern>
  </servlet-mapping>

</web-app>